@import '~reset-css/_reset';

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
    background: #0099CC;
    font-family: arial;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

p, ul {
  color: #fff;
  margin-bottom: 1em;
  line-height: 1.5;
}

p strong {
  font-weight: bold;
}

.app {
  height: 100%;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

/* Add goal form */
#addGoalForm  {
    margin-bottom: 1em;
}

#addGoalForm input[type=text] {
  float: left;
  width: 75%;
  border: none;
  -webkit-ppearance: none;
  padding: 0.5em;
  font-size: 1em;
  height: 2em;
}

#addGoalForm input[type=submit]{
  float: left;
  width: 25%;
  border: none;
  -webkit-border-appearance: none;
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  background: #F5B800;
  height: 2em;
}

/* card stats */
.card--stats {
  background: #007399;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.card--stats p {
  margin-bottom: 0;
}

.card--stats p strong {
  color: #F5B800;
}
